@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: black;
    --secondaryColor: white;
    --alternativeColor: grey;
    --backgroundColor: #4a6178;
     font-family: 'Bebas Neue', cursive; 
}

/* logo */
#logo {
    width: 5rem;
}